[include]
    path = .gitconfig.user
[core]
    editor = vim
    pager = less -r
[merge]
    tool = vimdiff
[color]
    ui = true
    interactive = auto
[alias]
    wdiff = diff --color-words
    l = log --graph --pretty=format:'%C(yellow)%h%C(cyan)%d%Creset %s %C(white)- %an, %ar%Creset'
    ll = log --stat
    s = status
[push]
    default = simple
[diff "csv"]
  wordRegex = [^,\n]+[,\n]|[,]
